<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Gwendolyn:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Borel&family=Gwendolyn:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<header>
    <div class="brand">
        <div class="brandName">
            <p class="title1">Berry</p>
            <p class="title2">Store</p>

        </div>
        <img id = "icon" src="../../../assets/strawberry.png" alt="">
    </div>
    <br>
    <div class="options">
        <a routerLink="mercado">Mercado</a>
        <br>
        <a routerLink="comida">Comida</a>
    </div>
    
</header>
