.container {
    display: grid;
    grid-template-columns: repeat(100, 15px);
    border: solid black 2px;
}

.main-container {
    width: 100%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}





