<app-header></app-header>
<div class="container">
    <div class="form">
        <p class="title">Sign Up</p>
        <div class="inputs">
            <p class="subtitle">Username</p>
            <input type="text" class="input" placeholder="Username">
            <p class="subtitle">CPF</p>
            <input type="number" class="input" placeholder="CPF">
            <p class="subtitle">Password</p>
            <input type="text" placeholder="Password" class="input">
            
            <app-button>
                <p>Register</p>
            </app-button>
        </div>
    </div>
</div>
